<div ng-controller="WishesCtrl">
    <div class="jumbotron">
        <h2>Moje přání</h2>

        <h1>Michal Mikeš</h1>

        <p>...</p>

        <p><a class="btn btn-primary" href="#" role="button">Upravit</a></p>
    </div>
    <div>
        <p class="text-right">
            Hledat: <input ng-model="query">
            Řadit:
            <select ng-model="order">
                <option value="rating">Důležitost</option>
                <option value="-name">Název</option>
                <option value="-price">Cena</option>
                <option value="-group">Skupina</option>
            </select>
            <a href="" ng-click="reverse=!reverse"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span></a>
            <a class="btn btn-success" href="#" role="button">Přidat přání</a>
        </p>
    </div>
    <div>
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="w in wishes | filter:query | orderBy:order:reverse">
                <td class="text-center vert-align" style="width: 200px;">
                    <a href="#wish/{{w.id}}"><img ng-src="{{w.img}}" class="img-thumbnail" alt="{{w.name}}" style="max-height: 200px; max-width
                : 200px"/></a>
                </td>
                <td>
                    <a class="btn btn-danger pull-right" href="#" role="button">Smazat</a>

                    <h3><a href="#wish/{{w.id}}">{{w.name}}</a></h3>

                    <p ng-bind="w.desc"/>

                    <div>
                        <b>{{w.group}}</b> | <b><a href="{{w.url}}">Odkaz</a></b>
                        | Orientační cena <b>{{w.price | number:2}} Kč</b>

                        <div class="progress">
                            <div class="progress-bar {{ratingToClass(w.rating)}}" role="progressbar" aria-valuenow="{{w.rating}}" aria-valuemin="0"
                                 aria-valuemax="100"
                                 style="width: {{w.rating}}%;">
                                <span class="sr-only">Důležitost {{w.rating}}%</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="jumbotron">
        <p>...</p>

        <p><a class="btn btn-primary" href="#" role="button">Upravit</a></p>
    </div>
</div>