<div ng-controller="WishController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="wishForm">
                <div class="form-group" ng-class="{'has-error': wishForm.name.$invalid}">
                    <label for="name">Název:</label>
                    <input id="name" name="name" type="text" class="form-control"
                           ng-model="wish.name" required="required"/>
                    <span class="text-danger"
                          ng-show="wishForm.name.$touched && wishForm.name.$invalid">
                        <span ng-show="wishForm.name.$error.required">Zadej název přání!</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="desc">Popis:</label><textarea id="desc" name="desc" class="form-control"
                                                              ng-model="wish.desc"
                                                              rows="3"></textarea>
                </div>
                <div class="form-group" ng-class="{'has-error': wishForm.url.$invalid}">
                    <label for="url">Odkaz na přání:</label>
                    <input id="url" name="url" type="url" class="form-control"
                           ng-model="wish.url" placeholder="http://"/>
                    <span class="text-danger" ng-show="wishForm.url.$dirty && wishForm.url.$invalid">
                        <span ng-show="wishForm.url.$invalid">URL není validní (začínající http(s)://)!</span>
                    </span>
                    <span ng-show="wish.url">
                        (<a ng-href="{{wish.url}}" target="_blank">Test odkazu</a>)
                    </span>
                </div>
                <div class="form-group" ng-class="{'has-error': wishForm.img.$invalid}">
                    <table style="width: 100%">
                        <tbody>
                        <tr>
                            <td style="width: auto; padding-right: 10px;">
                                <div class="form-group">

                                    <label for="img">Odkaz na obrázek:</label>
                                    <input id="img" name="img" type="url" class="form-control"
                                           ng-model="wish.img" placeholder="http://"/>
                                    <span class="text-danger" ng-show="wishForm.img.$dirty && wishForm.img.$invalid">
                                        <span ng-show="wishForm.img.$invalid">URL není validní (začínající http(s)://)!</span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="price">Orientační cena:</label>

                                    <div class="input-group" ng-class="{'has-error': wishForm.price.$invalid}">
                                        <input type="number" class="form-control" id="price" name="price" ng-model="wish.price"
                                               min="0"/>

                                        <div class="input-group-addon"> Kč</div>
                                    </div>
                                    <span class="text-danger" ng-show="wishForm.price.$dirty && wishForm.price.$invalid">
                                        <span ng-show="wishForm.price.$error.number">Zadej kladné číslo!</span>
                                    </span>
                                </div>
                            </td>
                            <td class="text-center vert-align" style="width: 200px;">
                                <img ng-src="{{wish.img}}" class="img-thumbnail" alt="{{wish.name}}" ng-show="wish.img"
                                     style="max-height: 200px; max-width: 200px"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <!--<label for="group">Skupina:</label>
                    <select id="group" name="group" class="form-control" ng-model="wish.group"
                            ng-options="wish.group for value in groups">
                        <option value="">-- vyber --</option>
                    </select>-->
                </div>
                <div class="form-group" ng-class="{'has-error': wishForm.rating.$invalid}">
                    <label for="star-rating">Přání:</label>
                    <star-rating id="star-rating" required="required" value="3"/>
                    <span class="text-danger" ng-show="wishForm.star-rating.$touched && wishForm.star-rating.$invalid">
                        <span ng-show="wishForm.star-rating.$invalid">Zadej celé číslo 0 až 5!</span>
                    </span>
                </div>
                <div class="form-group">
                    <a class="btn btn-default" href="#/wishes" role="button">Zpět</a>
                    <button type="submit" class="btn btn-success"
                            ng-disabled="wishForm.$invalid"
                            ng-click="save()" role="button">Uložit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>