<div ng-controller="WishesController">
    <div class="page-header">
        <h1>Moje přání
            <small>Test Test</small>
        </h1>
    </div>

    <div class="panel-body">
        <p class="pull-right">
            <a class="btn btn-primary" href="#" role="button">Upravit</a>
        </p>

        <p class="lead">
            Basic panel example
        </p>
    </div>

    <div class="panel-body">
        <p class="text-right">
            <a class="btn btn-success" href="#/wish" role="button">Přidat přání</a>
        </p>
    </div>

    <div class="panel panel-default">
        <div class="panel-body form-group">
            <div class="col-sm-6">
                <label for="search">Hledat:</label><input id="search" class="form-control" ng-model="query">
            </div>

            <div class="col-sm-6">
                <label for="order">Řadit:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <a class="col-sm-2 glyphicon glyphicon-sort" ng-click="reverse=!reverse">
                        </a>
                    </div>
                    <select id="order" class="form-control col-sm-10" ng-model="order">
                        <option value="-rating">Přání</option>
                        <option value="name">Název</option>
                        <option value="price">Cena</option>
                        <option value="group">Skupina</option>
                    </select>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="w in wishes | filter:query | orderBy:order:reverse">
                <td>
                    <div class="row">
                        <div class="col-xs-8">
                            <h3><a href="#wish/{{w.id}}">{{w.name}}</a></h3>
                            <p ng-bind="w.desc"/>
                            <div>
                                <b>{{getGroup(w.group).name}}</b> | <b><a href="{{w.url}}">Odkaz</a></b>
                                | Orientační cena <b>{{w.price}} Kč</b>
                            </div>
                            <star-rating id="star-rating-{{$index}}" data-size="xs" readonly="true" disabled="disabled"
                                         ng-model="w.rating"/>
                        </div>
                        <div class="col-xs-4" ng-if="w.img">
                            <a href="#wish/{{w.id}}">
                                <img ng-src="{{w.img}}"
                                     class="img-thumbnail img-responsive" alt="{{w.name}}"/>
                            </a>
                        </div>
                    </div>
                    <div confirm-delete on-confirm="delete(w)" role="button"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>