<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Wish</title>
    <!-- Bootstrap -->
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/css/login/login.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"/>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"/>
    <![endif]-->
</head>
<body>
<div class="container">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Chybný email nebo heslo.
    </div>
    <div th:if="${param.logout}" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Jste odhlášený.
    </div>
    <form class="form-signin" role="form" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Přihlaš se</h2>
        <label class="sr-only" for="username">Email</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Email" required="required"/>
        <label class="sr-only" for="password">Heslo</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Heslo"
               required="required"/>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Přihlásit</button>
    </form>
    <!-- /container -->
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"/>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"/>
</body>
</html>